//Fonts Imported From Google
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a, *{
  font-family: 'Montserrat', sans-serif;
}

// Header Section
.bg-primary {
	background-color: #EF700B !important;
}
.custom-logo-link {
    width: 8%;
    padding:0px;
}
.navbar{
    padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
//Search in the header
#wrapper-navbar input {
  &#s {
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
  }
  &#searchsubmit {
    border: 0;
    width: 100%;
    background: #282727;
    border-radius: 0 25px 25px 0;
  }
  &[type="submit"] {
    font-family: FontAwesome;
  }
}

// Second Section Header
.second-header{
    background: #38b6ff;
    // height: 100%;
    // align-items: center;
    // display: flex;
    // justify-content: center;
    // clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%)!important;
    // margin-left: 15%;
}

//Home Page Styles
.home-page {
  .wrapper, #content {
    padding-top: 0px;
  }
}

// Sports Boxes

.sports-boxes ul{
    display: flex;
    flex-wrap: wrap;
}

.sports-boxes ul li{
    overflow: hidden;
    border: 2px solid grey;
    list-style: none;
    // width: 25%; 
    width: 32%;
    border-radius: 15px;
    margin: 10px 5px;
}

.sports-boxes ul li img{
  float: left;
  width: 12%;
}

//Step Boxes?
.step-boxes ul{
    display: flex;
    flex-wrap: wrap;
}

.step-boxes ul li{
    overflow: hidden;
    border: 2px solid grey;
    list-style: none;
    // width: 25%; 
    width: 49%;
    border-radius: 15px;
    margin: 10px 5px;
}

.step-boxes ul li img{
  // float: left;
  // width: 12%;
}  










//Footer Section


.footer{
  background-color: #282727;
  padding: 20px 0;
}
.footer h3{
  color: #f58016;
  text-transform: uppercase;
}
.footer a{
  color:#fff;
}
.footer a:hover{
  color: #f58016;
}
.footer hr{
  color: #f58016;
}
.footer p{
  color:#fff;
}
.footer span{
  color: #f58016;
}


#banner-footer-image{
  height:400px;
  background-position: center;
}

.banner-footer {
    width: 50%;
}

.banner-footer h1{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    padding-top: 60px;
    margin: 0 auto;
    line-height: 70px;
    margin-bottom: 30px;
}

a.sign-up {
    background-color: #38b6ff;
    font-weight:700;
    padding: 15px 20px;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    width: 20%; 
    text-align: center;   
}


